body{
    font-family: sans-serif;
    background: #f4f4f9;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

header{
    margin: 20px;
    
}

.conteinarPrincipal{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.conteinarInput{
    width: 100dvh;
    height: 20dvh;
    display: grid;
    grid-template-columns: repeat(3, minmax(200px, 1fr));
    
}


.caixaInput{
    display: flex;
    justify-content: center;
    height: 50px;
}

.salvar{
    width: 100px;
    height: 50px;
    background-color: rgb(77, 228, 77);
}

.salvar:hover{
    transition:0.5s;
    background-color: green;
}

input{
    padding: 10px;
    width: 200px;
    height: 50px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

#result{
    margin-top: 40px;
    width: 150dvh;
    height: 60dvh;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    
}

.padronizarContato{
    width: 150dvh;
    display: flex;
    gap: 20px;
    flex-direction: column;
    align-items: center;
}

.botoes-editar{
    display: flex;
    gap:15px;
}

.botoes-editar button{
    gap: 20px;
    width: 250px;
    height: 60px;
    
}

.linha{
    margin-top: 20px;
    width: 150dvh;
    height: 2px;
    background-color: black;
}

.card{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: solid 2px black;
    width: 20dvh;
    height: 25dvh;
    gap: 10px;
}

.card img{
    width: 80px;
    height: 80px;
    border-radius: 100%;
    border: solid 2px black;
}

.card button{
    width: 50px;
    height: 30px;
}


.caixaBTN button {
    background: transparent; 
    border: none;            
    cursor: pointer;         
    padding: 5px;
}

.caixaBTN button img {
    width: 30px;             
    height: 30px;
    object-fit: contain;
}